 <!-- Modal HTML -->
 <div id="myModal" class="modal fade" tabindex="-1">
   <div class="modal-dialog modal-dialog-centered modal-sm">
     <div class="modal-content" style="background: none;border-color: none;border: none;">
       <div class="d-flex justify-content-center">
         <div class="text-light" type="button" disabled>
           <span class="spinner-grow spinner-grow-sm text-primary" role="status" aria-hidden="true"></span>
           <span class="spinner-grow spinner-grow-sm text-secondary" role="status" aria-hidden="true"></span>
           <span class="spinner-grow spinner-grow-sm text-success" role="status" aria-hidden="true"></span>
           <span class="spinner-grow spinner-grow-sm text-danger" role="status" aria-hidden="true"></span>
           <span class="spinner-grow spinner-grow-sm text-warning" role="status" aria-hidden="true"></span>
           <span class="spinner-grow spinner-grow-sm text-info" role="status" aria-hidden="true"></span>
           <span class="spinner-grow spinner-grow-sm text-light" role="status" aria-hidden="true"></span>
           <span class="spinner-grow spinner-grow-sm text-dark" role="status" aria-hidden="true"></span>
           <div class="text-center">
             <h4><b>Loading...</b></h4>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>